<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="padding: 0%; margin: 0%; overflow:hidden;">
    <iframe src="http://0.0.0.0:5601/app/dashboards#/view/d9b458ec-ddf3-4172-a84f-f8cfde6514d0?_g=(refreshInterval%3A(pause%3A!t%2Cvalue%3A60000)%2Ctime%3A(from%3A'2000-09-03T05%3A06%3A44.733Z'%2Cto%3Anow))&hide-filter-bar=true" style="width: 100%; height:100vh"></iframe>
</body>
</html>